<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <script src="../js/index.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>

</head>


<body>
<h3 id="poems_title_1" class="center">古诗词选集</h3>

<div id="poems">
    <div id="poems_1">
        <ul>
            <div class="home_module_1" id="tangshi">
                <li class="home_module" >唐诗三百首</li>
                <p class="editor_info">蘅塘退士编</p>
            </div>

            <div class="home_module_1">
                <li class="home_module">宋词三百首</li>
                <p class="editor_info">朱孝臧编</p>
            </div>

            <div class="home_module_1">
                <li class="home_module">诗经全集</li>
                <p class="editor_info">最古老的诗集</p>
            </div>

            <div class="home_module_1">
                <li class="home_module">楚辞节选</li>
                <p class="editor_info">浪漫主义诗集</p>
            </div>
        </ul>
    </div>

    <div id="poems_2">
        <ul>
            <div class="home_module_1">
                <li class="home_module">乐府诗集</li>
                <p class="editor_info">古代乐府诗集</p>
            </div>

            <div class="home_module_1">
                <li class="home_module">金刚经</li>
                <p class="editor_info">大乘佛教经典</p>
            </div>

            <div class="home_module_1">
                <li class="home_module">古诗十九首</li>
                <p class="editor_info">南朝萧统录</p>
            </div>

            <div class="home_module_1">
                <li class="home_module">给孩子的诗</li>
                <p class="editor_info">适合给孩子诵读</p>
            </div>
        </ul>
    </div>
</div>
<script>

    le_ajax();
    le_tang()

</script>
</body>
</html>